:root {
  --black: #000000ff;
  --onyx: #363946ff;
  --dim-gray: #696773ff;
  --cadet-gray: #819595ff;
  --ash-gray: #b1b6a6ff;
  --eerie-black: #1b2021ff;
  --ebony: #51513dff;
  --moss-green: #a6a867ff;
  --vanilla: #e3dc95ff;
  --pearl: #e3dcc2ff;
  --white: #f1f1f1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* UTILITIES */
.container {
  max-width: 1440px;
  width: 90%;
  margin-inline: auto;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.2rem 0;
}
.flex {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.two-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.one-two-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.two-one-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.three-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

/* HEADER STYLES */
header {
  background-color: var(--pearl);
  position: fixed;
  width: 100%;
  /* box-shadow: 0 2px 4px 1px var(--pearl); */
  z-index: 22;
}
header .container {
  position: relative;
}
.header-logo img {
  width: 100%;
  display: block;
}
.header-logo a {
  text-decoration: none;
  color: var(--ebony);
}
.header-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header-nav ul {
  display: flex;
  gap: 2.6rem;
}
.header-nav ul li{
  list-style: none;
  transition: transform 0.1s ease-in;
}
.header-nav ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.3rem;
  transition: transform 0.1s ease-in;
}
.header-nav ul li a:hover {
  color: var(--black);
}
.header-nav ul li:hover {
  transform: scale(1.1);
}
.header-menu {
  cursor: pointer;
  border: none;
  background-color: var(--pearl);
  color: var(--ebony);
}
.header-menu i {
  font-size: 1.3rem;
}
.header-contact {
  background-color: var(--moss-green);
  border-radius: 0.2rem;
  color: var(--white);
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  transition: transform 0.2s ease-in;
}
.header-contact:hover {
  background-color: var(--ebony);
  outline: 2px solid black;
  transform: scale(1.04);
}
.mobile-nav {
  z-index: 100;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 11;
  position: absolute;
  background-color: var(--vanilla);
  padding: 0.4rem 1.5rem;
  border-top: 2px solid var(--moss-green);
  border-left: 2px solid var(--moss-green);
  border-bottom: 3px solid var(--ebony);
  border-right: 3px solid var(--ebony);
  right: 1.6rem;
  top: 4rem;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav ul li a {
  color: var(--ebony);
  text-decoration: none;
}
.mobile-nav ul li a:hover {
  color: var(--black);
}
.mobile-nav ul li:hover {
  transform: scale(1.1);
  transition: all ease;
}
.hidden-btn {
  display: none;
  background-color: var(--pearl);
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}
.mobile-nav {
  display: none;
}
.mobile-nav.show {
  display: block;
}
.mobile-nav.hidden {
  display: none;
}
/* HEADER MEDIA QUERY */
@media (max-width: 540px) {
  .hidden-btn {
    display: block;
  }
  .header-nav {
    display: none;
  }
}

/* HERO STYLES */
#hero {
  background-color: var(--moss-green);
  height: 100vh;
}
#hero .grid {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
.hero-title h1 {
  font-size: 3rem;
}
.hero-title p {
  letter-spacing: 2px;
  font-weight: 500;
}
.hero-title button {
  background-color: var(--ebony);
  padding: 0.2rem 1rem;
  border-top: 3px solid var(--eerie-black);
  border-left: 3px solid var(--eerie-black);
  border-bottom: 4px solid var(--black);
  border-right: 4px solid var(--black);
  color: var(--pearl);
  margin-top: 2rem;
  font-size: 1.4rem;
  transition: transform 0.1s ease-in;
}
.hero-title button:hover {
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  border-bottom: 4px solid var(--pearl);
  border-right: 4px solid var(--pearl);
  transform: scale(1.04);
  cursor: pointer;
}
.hero-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
}
.hero-images {
  border-top: 3px solid var(--ebony);
  border-left: 3px solid var(--ebony);
  border-bottom: 4px solid var(--eerie-black);
  border-right: 4px solid var(--eerie-black);
  position: relative;
}
.first-image {
  left: 7rem;
  top: 7rem;
  transition: transform 0.4s ease-in;
}
.first-image:hover {
  transform: rotate(15deg);
}
.second-image {
  top: 13rem;
  transition: transform 0.4s ease-in;
}
.second-image:hover {
  transform: rotate(-9deg);
}
.third-image {
  left: 2.4rem;
  bottom: 1rem;
  transition: transform 0.4s ease-in;
}
.third-image:hover {
  transform: rotate(5deg);
}

/* HERO MEDIA QUERIES */
@media (max-width: 540px) {
  #hero .grid {
    grid-template-columns: 1fr;
  }
  #hero {
    padding-top: 8rem;
  }
  .hero-services {
    display: none;
  }
  .hero-title h1 {
    font-size: 2.6rem;
  }
}

/* HERO ANIMATIONS */
.hero-title {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 1s forwards;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* SERVICES SYLES */
.service-image img {
  width: 100%;
  display: block;
}
.service-image {
  border-top: 3px solid var(--ebony);
  border-left: 3px solid var(--ebony);
  border-bottom: 4px solid var(--eerie-black);
  border-right: 4px solid var(--eerie-black);
  transition: transform 0.2s ease-in;
}
.service-image:hover {
  transform: scale(1.05);
}
.service-text {
  padding-left: 4rem;
}
.service-text h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  background: linear-gradient(270deg, var(--eerie-black) 79%, var(--ebony));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.service-text p {
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
#services {
  padding-top: 5rem;
  background-color: var(--vanilla);
}
#services .container {
  padding: 0 0 5rem 0;
}

/* SERVICES MEDIA QUERIES */
@media (max-width: 540px) {
  .service-image {
    display: none;
  }
  #services .one-two-block {
    display: block;
  }
  .service-text {
    padding-left: 0;
  }
  .service-text h1 {
    font-size: 3rem;
  }
  .service-text p {
    font-size: 1.1rem;
  }
}

/* FEATURES STYLES */
#features {
  background-color: var(--moss-green);
  letter-spacing: 1px;
}
.feature-title {
  font-size: 1.6em;
  color: var(--vanilla);
  margin-bottom: 1rem;
}
.feature {
  background-color: var(--eerie-black);
  color: var(--white);
}
#features .container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 5rem 0;
}
.feature {
  padding: 0.6rem 1.2rem;
  border-top: 3px solid var(--onyx);
  border-left: 3px solid var(--onyx);
  border-bottom: 4px solid var(--black);
  border-right: 4px solid var(--black);
  transition: transform 0.2s ease-in;
}
.feature:hover {
  transform: scale(1.02);
}
#features h1 {
  text-align: center;
  padding-top: 5rem;
  font-size: 3.6rem;
  background: linear-gradient(270deg, var(--eerie-black) 79%, var(--moss-green));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* FEATURES MEDIA QUERIES */
@media (max-width: 540px) {
  #features .container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
  }
}

/* ABOUT STYLES */
.about-image {
  border-top: 3px solid var(--cadet-gray);
  border-left: 3px solid var(--cadet-gray);
  border-bottom: 4px solid var(--white);
  border-right: 4px solid var(--white);
  width: 70%;
  transition: transform 0.2s ease-in;
}
.about-image:hover {
  transform: scale(1.04);
}
#about {
  padding: 5rem 0;
  background-color: var(--eerie-black);
}
.about-title h1 {
  font-size: 5.8rem;
  background: linear-gradient(279deg, var(--ebony) 69%, var(--moss-green));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.6rem;
}
.about-title p {
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.about-image {
  flex: 1;
}
.about-title {
  flex: 2;
}

/* ABOUT MEDIA QUERIES */
@media (max-width: 540px) {
  .about-title h1 {
    font-size: 3.6rem;
    text-align: center;
  }
  #about .flex-between {
    display: block;
  }
  .about-image {
    display: none;
  }
}